##Ejercicios Funciones

In [5]:
def npc(a,b):
  if a>b:
    print(f" {a} es el mayor") 
  else:
    print (b, "es el mayor")

In [6]:
print(npc(4,5))

5 es el mayor
None

In [7]:
def mayor (x,y,z):
  npc(x, npc(y,z))

In [8]:
print(mayor(4,5,6))

6 es el mayor

TypeError: ignored

3. Sumar los números de una lista de 3 elementos. Ejemplo [3,4,5]. Salida: 12

In [16]:
numeros = [3,4,5]
def suma(numeros):
  resultado=(numeros[0]+numeros[1]+numeros[2])
  print(resultado)

In [17]:
suma(numeros)

12

4. Sumar los números de una lista de 4 elementos. Ejemplo [3,4,5,6]. Salida: 18

In [18]:
lista = [3,4,5,6]
def suma(lista):
  resultado=(lista[0]+lista[1]+lista[2]+lista[3])
  print(resultado)

In [19]:
suma(lista)

18

5. Sumar todos los números de una lista. Ejemplo: (8,5,3,1). Salida: 17

In [31]:
lista = [15, 20, 50,40,8,10,13,36,50]
def sumatotal(lista):
  total=0
  for i in lista:
    total= total + i 
  print(total)

In [32]:
sumatotal(lista)

242

6. Multiplicar los números de una lista de 3 elementos. Ejemplo [0,4,5]. Salida: 0

In [27]:
lista = [0,4,5]
def multiplicacion(lista):
  resultado=(lista[0]*lista[1]*lista[2])
  print(resultado)

In [28]:
multiplicacion(lista)

0

7. Multiplicar los números de una lista de 4 elementos. Ejemplo [3,4,5,1]. Salida: 60

In [24]:
lista = [3,4,5,1]
def multiplicacion(lista):
  resultado=(lista[0]*lista[1]*lista[2]*lista[3])
  print(resultado)

In [25]:
multiplicacion(lista)

60

8. Multiplicar todos los números de una lista. Ejemplo: (1,2,3,-1). Salida: -6

In [37]:
lista = [15, 2, 3]
def multiplicaion(lista):
  total=0
  for i in lista:
    total= total * i 
  print(total)

In [38]:
multiplicacion(lista)

90

9. Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [49]:
a=str(input("ingrese una palalbra"))
def invertido(palabra):
  largo=len(palabra)
  largo=a[largo::-1]
  print(largo)

ingrese una palalbraHola

In [50]:
invertido(a)

 aloH

10. Calcular el factorial de un número

In [45]:
def factorial(a):
  multiplicacion=1
  for i in range(1, a+1):
    multiplicacion= multiplicacion*i 
  print(multiplicacion)

In [52]:
factorial(4)

24

11. Si un número está dentro de un rango.

In [63]:
x=int(input("Ingresa un número "))

def existe(a,b):
  if x>=a and x<=b:
    print(x, "está en el rango")
  else:
    print(x, "No está en el rango")

Ingresa un número 4

In [64]:
existe(0,5)

4 está en el rango

14. Reciba una lista y retorne sólo los elementos pares

In [70]:
numeros=[1,2,3,4,5,6,7,8]
def pares(numeros):
 w=len(numeros)
 for i in range(0, w):
   if numeros[i]%2==0:
    print(numeros[i])

pares(numeros)

2
4
6
8

15. Reciba una lista y retorne sólo los elementos de posición impar

In [71]:
lista=[2,5,8,3,6,15,17]
def totalimpares(impares):
  w=len(impares)
  for i in range(0, w, 2):
    print(impares[i])

totalimpares(lista)

2
8
6
17