**Temperatura ambiente : 18 a 25°C**

In [44]:
dias=["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]

In [21]:
temp=[30.5, 12.0, 26.5, 20.0, 25.5, 11.5, 22.3]

In [6]:
temp_semanal={dias: temp for (dias, temp) in zip(dias, temp)}
print(temp_semanal)

{'Lunes': 30.5, 'Martes': 40.0, 'Miércoles': 37.5, 'Jueves': 29.0, 'Viernes': 36.5, 'Sábado': 28.5, 'Domingo': 24.3}

In [7]:
temp_semanal["Miércoles"]

37.5

In [35]:
#[(30.5,"Temperatura caliente"),(),()]
ttupla=[]
for i in temp:
  
  if i<18:
    print("Temperatura fría")
    ttupla.append((i,"Temperatura fría"))
  elif i>18 and i<25:
    print("Temperatura ambiente")
    ttupla.append((i,"Temperatura ambiente"))
  elif i>25: 
    print("Temperatura caliente")
    ttupla.append((i,"Temperatura caliente"))

Temperatura caliente
Temperatura fría
Temperatura caliente
Temperatura ambiente
Temperatura caliente
Temperatura fría
Temperatura ambiente

In [33]:
ttupla

[(30.5, 'Temperatura caliente'),
 (12.0, 'Temperatura fría'),
 (26.5, 'Temperatura caliente'),
 (20.0, 'Temperatura ambiente'),
 (25.5, 'Temperatura caliente'),
 (11.5, 'Temperatura fría'),
 (22.3, 'Temperatura ambiente')]

In [43]:
resultado = {dias: ttupla for (dias, ttupla) in zip(dias, ttupla)} 
resultado

{'Lunes': (30.5, 'Temperatura caliente'),
 'Martes': (12.0, 'Temperatura fría'),
 'Miércoles': (26.5, 'Temperatura caliente'),
 'Jueves': (20.0, 'Temperatura ambiente'),
 'Viernes': (25.5, 'Temperatura caliente'),
 'Sábado': (11.5, 'Temperatura fría'),
 'Domingo': (22.3, 'Temperatura ambiente')}